.boton {
    padding: 20px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.alternar {
    background-color: aqua;
}

/* Esta clase se va a manejar por JS>classList */
.alternar.activo {
   background-color: blue;
}