.caja {
    margin: 200px;
    background-color: lightblue;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    transition: all 0.4s ease-in-out;
    /*transform: rotate(90deg);
    transform: scale(1.2,0.6);*/
}

.caja:hover {
transform: scale(2);
transform: rotate(90deg);
}


