.contenedor {
    background-color: grey;
    width: 80%;
    height: 800px;
    margin: 0 auto;
    position: relative;
}

.verde {
    background-color: lightgreen;
    width: 80%;
    height: 200px;
    margin: 0 auto 20px;
    position: absolute;
    top: 0;
    left: 0;
}
.celeste {
    background-color: rgb(84, 187, 221);
    width: 80%;
    height: 200px;
    margin: 0 auto 20px;
}
.amarillo {
    background-color: yellow;
    width: 80%;
    height: 200px;
    margin: 0 auto 20px;
}