.contenedor {
    background-color: grey;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.item {
    background-color: lightblue;
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center; /*(Eje Y)*/
    justify-content: center; /*(Eje X)*/
}